SplitJoin_SB/WSDL/SplitJoinFlow.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.alsb.com/flow/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SplitJoin_WS"
	targetNamespace="http://www.alsb.com/flow/">
	<wsdl:types>
		<xsd:schema
			targetNamespace="http://www.alsb.com/flow/">
			
			<xsd:complexType name="Bill">
				<xsd:sequence>
					<xsd:element name="billingDate" type="xsd:date"></xsd:element>
					<xsd:element name="amount" type="xsd:double"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="Order">
				<xsd:sequence>
					<xsd:element minOccurs="1" maxOccurs="unbounded"
						name="product" type="xsd:string">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="getAllCustomerInfo">
				<xsd:complexType>
					<xsd:sequence>						<xsd:element name="customerID" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getAllCustomerInfoResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="customerID" type="xsd:int" />
						<xsd:element name="firstName" type="xsd:string" />
						<xsd:element name="lastName" type="xsd:string" />
						<xsd:element ref="tns:BillingInfo" />
						<xsd:element ref="tns:OrderInfo" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="BillingInfo">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="unbounded" name="bill" type="tns:Bill" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="OrderInfo">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="unbounded"
							name="order" type="tns:Order">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="getAllCustomerInfo">
		<wsdl:part name="getAllCustomerInfo" element="tns:getAllCustomerInfo"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAllCustomerInfoResponse">
		<wsdl:part name="getAllCustomerInfoResponse"
			element="tns:getAllCustomerInfoResponse">
		</wsdl:part>
	</wsdl:message>
	
	
	<wsdl:portType name="SplitJoin_WS">		<wsdl:operation name="getAllCustomerInfo" parameterOrder="getAllCustomerInfo">
			<wsdl:input message="tns:getAllCustomerInfo"></wsdl:input>
			<wsdl:output message="tns:getAllCustomerInfoResponse"></wsdl:output>
		</wsdl:operation>
		
	</wsdl:portType>
	
	<wsdl:binding name="SplitJoin_WSSOAP" type="tns:SplitJoin_WS">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getAllCustomerInfo">
			<soap:operation soapAction="getAllCustomerInfo" style="document" />
			<wsdl:input>
				<soap:body parts="getAllCustomerInfo" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="getAllCustomerInfoResponse" use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="SplitJoin_WS">
		<wsdl:port binding="tns:SplitJoin_WSSOAP"
			name="SplitJoin_WSSOAP">
			<soap:address location="http://localhost:7001/SplitJoinProxy" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
