Test/Temp.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.alsb.com/Sample/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Sample"
	targetNamespace="http://www.alsb.com/Sample/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.alsb.com/Sample/">
			<xsd:complexType name="Customer">
				<xsd:sequence>
					<xsd:element name="customerID" type="xsd:int"
						minOccurs="1" />
					<xsd:element name="firstName" type="xsd:string"
						minOccurs="1" />
					<xsd:element name="lastName" type="xsd:string"
						minOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="CustomerQuery">
				<xsd:sequence>
					<xsd:element name="customerID" type="xsd:int"
						minOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>

			<!--  Map our types into elements  -->
			<xsd:element name="getCustomer" type="tns:CustomerQuery" />
			<xsd:element name="getCustomerResponse" type="tns:Customer" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="GetCustomerRequest">
		<wsdl:part element="tns:getCustomer" name="customerQuery" />
	</wsdl:message>

	<wsdl:message name="GetCustomerResponse">
		<wsdl:part element="tns:getCustomerResponse" name="customer" />
	</wsdl:message>

	<wsdl:portType name="Sample">
		<wsdl:operation name="getCustomer">
			<wsdl:input message="tns:GetCustomerRequest" />
			<wsdl:output message="tns:GetCustomerResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="SampleSOAP" type="tns:Sample">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getCustomer">
			<soap:operation
				soapAction="http://www.alsb.com/Sample/Customer" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="Sample">
		<wsdl:port binding="tns:SampleSOAP" name="SampleSOAP">
			<soap:address location="http://www.alsb.com/" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
