Security_SB/WSDL/SecureMessageService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SecureMessageService" targetNamespace="http://www.alsb.com/SecureMessageService/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.alsb.com/SecureMessageService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.alsb.com/SecureMessageService/">
			<xsd:element name="getAccount">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="customerID" type="xsd:int"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getAccountResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="customerID" type="xsd:int"/>
						<xsd:element name="customerName" type="xsd:string"/>
						<xsd:element name="account" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	
	<wsp:UsingPolicy wsdl:Required="true"/>
	
	<wsdl:message name="getAccountRequest">
		<wsdl:part element="tns:getAccount" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="getAccountResponse">
		<wsdl:part element="tns:getAccountResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:portType name="SecureMessageService">
		<wsdl:operation name="getAccount">
			<wsdl:input message="tns:getAccountRequest"/>
			<wsdl:output message="tns:getAccountResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SecureMessageServiceSOAP" type="tns:SecureMessageService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getAccount">
			<wsp:Policy>
				<wsp:PolicyReference URI="policy:Sign.xml"/>
			</wsp:Policy>
			<soap:operation soapAction="getAccount"/>
			<wsdl:input> 
				<wsp:Policy>
					<wsp:PolicyReference URI="policy:Encrypt.xml"/>
				</wsp:Policy>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output> 
				<wsp:Policy>
					<wsp:PolicyReference URI="policy:CustomEncryptPolicy.xml"/>
				</wsp:Policy>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SecureMessageService">
		<wsdl:port binding="tns:SecureMessageServiceSOAP" name="SecureMessageServiceSOAP">
			<soap:address location="http://localhost:7001/security/SecureMessage"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>