SerialService_WS/WSDL/SerialService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<definitions name="SerialServiceDefinitions" 
  targetNamespace="http://www.alsb.com/" 
  xmlns="http://schemas.xmlsoap.org/wsdl/" 
  xmlns:alsb="http://www.alsb.com/" 
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xs:schema attributeFormDefault="unqualified" 
      elementFormDefault="qualified" 
      targetNamespace="http://www.alsb.com/" 
      xmlns:alsb="http://www.alsb.com/" 
      xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
      xmlns:xs="http://www.w3.org/2001/XMLSchema">
      
        <xs:complexType name="CustomerRequestType">
          <xs:sequence>
            <xs:element name="customerID" type="xs:int"/>
            <xs:element name="firstName" type="xs:string"/>
            <xs:element name="lastName" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
        
        <xs:element name="CustomerRequest" type="alsb:CustomerRequestType" />
    </xs:schema>
  </types>
  
  <message name="request">
    <part element="alsb:CustomerRequest" name="parameters"/>
  </message>

  <portType name="SerialPortType">
    <operation name="processCustomer" parameterOrder="parameters">
      <input message="alsb:request"/>
    </operation>
  </portType>
  
  <binding name="SerialServiceSoapBinding" type="alsb:SerialPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="processCustomer">
      <soap:operation soapAction="" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
  </binding>
  
  <service name="SerialService">
    <port binding="alsb:SerialServiceSoapBinding" name="SerialService">
      <soap:address location="http://localhost:7001/SerialService_WS/SerialService"/>
    </port>
  </service>
</definitions>