BasicOrderMgr_SB/WSDL/BasicOrderMgrProxy.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<definitions name="BasicOrderMgrProxyDefinitions"
	targetNamespace="http://www.alsb.com/"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:alsb="http://www.alsb.com/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<types>
		<xs:schema attributeFormDefault="unqualified"
			elementFormDefault="qualified" targetNamespace="http://www.alsb.com/"
			xmlns:order="http://www.alsb.com/order/">

			<xs:import namespace="http://www.alsb.com/order/"
				schemaLocation="./order.xsd" />

			<!-- Use the types defined in the schema we just imported -->
			<xs:element name="Product" type="order:Product" />
			<xs:element name="LineItem" type="order:LineItem" />
			<xs:element name="Order" type="order:Order" />
			<xs:element name="ArrayOfProduct" type="order:ProductList" />

			<!-- This is a utility element, so we can safely define it completely in this WSDL -->
			<xs:element name="CustomerName">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="firstName" type="xs:string" />
						<xs:element name="lastName" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</types>
	<message name="getProducts">
		<part name="customerName" element="alsb:CustomerName" />
	</message>
	<message name="getProductsResponse">
		<part name="productList" element="alsb:ArrayOfProduct" />
	</message>
	<message name="submitOrder">
		<part name="order" element="alsb:Order" />
	</message>
	<portType name="BasicOrderMgrProxyPort">
		<operation name="getProducts" parameterOrder="customerName">
			<input message="alsb:getProducts" />
			<output message="alsb:getProductsResponse" />
		</operation>
		<operation name="submitOrder" parameterOrder="order">
			<input message="alsb:submitOrder" />
		</operation>
	</portType>
	<binding name="BasicOrderMgrProxyServiceSoapBinding"
		type="alsb:BasicOrderMgrProxyPort">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="getProducts">
			<xs:annotation>
				<xs:documentation>
					This operation gets a list of products that a
					customer is qualified to buy, based on his credit
					rating
				</xs:documentation>
			</xs:annotation>
			<soap:operation soapAction="getProducts" style="document" />
			<input>
				<soap:body parts="customerName" use="literal" />
			</input>
			<output>
				<soap:body parts="productList" use="literal" />
			</output>
		</operation>
		<operation name="submitOrder">
			<soap:operation soapAction="submitOrder" style="document" />
			<input>
				<soap:body parts="order" use="literal" />
			</input>
		</operation>
	</binding>
	<service name="BasicOrderMgrProxyService">
		<port binding="alsb:BasicOrderMgrProxyServiceSoapBinding"
			name="BasicOrderMgrProxySoapPort">
			<soap:address
				location="http://localhost:7001/esb/BasicOrderMgrService" />
		</port>
	</service>
</definitions>